@using ClassAttendance.Web
@using Microsoft.AspNetCore.Mvc.Localization
@model ClassAttendance.Web.ViewModels.GroupViewModel
@inject IHtmlLocalizer<SharedResource> SharedResource

@{
    ViewData["Title"] = "GetAll";
}

<h2>Select your group</h2>
@if (User.IsInRole("AdminLocal"))
{
    <p>
        <a asp-action="Create">@SharedResource["Create"]</a>
    </p>
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Group" asp-action="GetAll" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.SelectedEducationalInstitution, Model.EducationalInstitutions, SharedResource["Select your Educational Institution"].Value, new { @class = "btn btn-secondary dropdown-toggle", id = "unit-select", onchange = "sendCountry()" })
                <span asp-validation-for="EducationalInstitutions" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
@if (Model.Groupes != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName(SharedResource["Name"].Value)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Groupes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                        @if (User.IsInRole("AdminLocal"))
                        {
                            @Html.ActionLink(SharedResource["Edit"].Value, "Edit", new { id = item.GroupId }) <text> | </text>

                            @Html.ActionLink(SharedResource["Delete"].Value, "Delete", new { id = item.GroupId }) <text> | </text>
                        }
                        @Html.ActionLink(SharedResource["Details"].Value, "Details", new { id = item.GroupId, eIId = item.EducationalInstitutionId })
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

<script>
    function sendCountry() {
        var selectedCountry = document.getElementById("unit-select");
        var strUser = selectedCountry.options[selectedCountry.selectedIndex].value;
        let item = {
            SelectedEducationalInstitution: +strUser
        };
        let form = document.getElementById("form");
        form.submit();
    }

</script>