@using ClassAttendance.Web
@using Microsoft.AspNetCore.Mvc.Localization
@model ClassAttendance.Web.ViewModels.EducationalInstitutionViewModel
@inject IHtmlLocalizer<SharedResource> SharedResource

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(SharedResource["Name"].Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayName(SharedResource["Type"].Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayName(SharedResource["Country"].Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayName(SharedResource["City"].Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("AdminLocal"))
    {
        @Html.ActionLink(SharedResource["Edit"].Value, "Edit", new {id = Model.EducationalInstitutionId}) <text> | </text>
    }
    @Html.ActionLink(SharedResource["Add subject"].Value, "Create", "Subject", new {educationalInstitutionId = Model.EducationalInstitutionId}) |

    <a asp-action="GetLocalEI">@SharedResource["Back"].Value</a>
</div>
<div class="subjects">
    @foreach(var subject in Model.ListOfSubjects)
    {
        @Html.ActionLink(subject.Name, "Edit", "Subject",new { id = subject.SubjectId })
        <br/>
    }
</div>