@model ClassAttendance.Web.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "EditProfile";
}

<h2>EditProfile</h2>

<h4>RegisterViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Select your group")
                @Html.DropDownListFor(x => x.SelectedGroup, Model.Groups, "Select your group", new { @class = "form-control" })
                <span asp-validation-for="Groups" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Select your subjects")
                @Html.DropDownListFor(x => x.SelectedSubjects, Model.Subjects, "Select your subjects", new { @class = "form-control", multiple = true })
                <span asp-validation-for="Subjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Display("Load your photo")
                <input asp-for="Photo" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="EducationalInstitutionId" />

                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
